

.btn-git {
    color: antiquewhite;
    background-color: #09ee24d1;
    padding: 8px 20px;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    /* max-width: min-content; */
    font-size: 20px;
}

.btn-git:hover {
    color: rgb(56, 55, 55);
    background-color: rgb(62, 153, 202);
}