body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(88, 118, 194);
  color: rgb(248, 247, 245);
  font-family: 'Ubuntu', sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

.header {
  color: rgb(248, 247, 245);
  background-color: rgb(54, 43, 176);

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-radius: 20px; */
  font-size: large;
  font-weight: 200;
}

.logo {
  width: 20%;
  padding-left: 2rem;
}

.nav {
  width: 80%;
  display: flex;
  justify-content: flex-end;
  padding-right: 2rem;
}

.main {
  padding: 3rem 0;
}

/* .btn-ir esta en todos los css */
.bloque-btn {
  padding: 1.5rem 0;
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0b5ed7;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn:hover {
  background-color: #0052cd;
}

.btn-ir:hover {
  background-color: darkslateblue;
  color: aliceblue;
}

.contenedor {
  width: 100%;
  height: 90%;
  display: flex;
}

.contenedor#graphs-container {
  background-color: white;
  height: 100%;
}

.charts-wrapper {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;

}

.chart {
  position: relative;
  flex: 0 1 calc(50% - 2rem);
  border: 1px solid rgb(156, 151, 151);
  width: 90%;
  min-height: 300px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.chart-title {
  padding: 10px 0;
  color: #494949;
}
.graphs-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#map {
  height: 300px;
}

.hero {
  width: 70%;
  height: 100%;
  margin-left: 2rem;
}
.validate-message {
  height: 2rem;
  color: #f2c7c7;
}
.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 70px);
}
.link {
  color: #0b5ed7;
}

.link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.resultados {
  margin-top: 5rem;
  font-size: 1.7rem;
}

/* #graphs-container {
  height: calc(100vh - 120px);
} */

.questions {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  width: 80%;
}

.pregunta {
  font-size: 1.5rem;
  margin-top: 1rem;
}

#country-container .pregunta,
#os-container .pregunta,
#topic-container .pregunta {
  margin-top: 0;
}

.txtInput {
  padding: 0.7rem 0.5rem 0.3rem 0.5rem;
  font-size: 1rem;
  width: 70%;
  border-radius: 7px;
  border: none;
}

.hidden {
  display: none;
}

.input select {
  margin-top: 1rem;
  font-size: 1rem;
}

.input input[type='radio'] {
  font-size: 1rem;
}

.input input[type='radio']:first-of-type {
  margin-top: 2rem;
}

.input input[type='checkbox']:first-of-type {
  margin-top: 2rem;
}

.header .link {
  color: #fff;
  margin: 0 1rem;
  font-weight: 500;
}

.header .link:hover {
  color: #bfd5f0;
}

@media (max-width: 550px) {
  h2 {
    font-size: 20px;
  }
  .btn {
    font-size: 0.9rem;
  }
  .resultados {
    font-size: 1.2rem;
  }
  .pregunta{
    font-size: 1rem
  }
  .txtInput{
    width: 80%;
  }
  .row{
    flex-direction: column;
    height: auto;
  }
}

@media (min-width: 550px) {
  h2 {
    font-size: 35px;
  }

  h1 {
    font-size: 55px;
  }

  .btn {
    font-size: 1.3rem;
  }
  .pregunta{
    font-size: 1.3rem
  }
  .txtInput{
    width: 80%;
  }
  

}

@media (min-width: 1000px) {
  h2 {
    font-size: 35px;
  }

  h1 {
    font-size: 55px;
  }

  .btn {
    font-size: 1.5rem;
  }
  .pregunta{
    font-size: 1.5rem
  }
  .txtInput{
    width: 70%;
  }
}
